<main>
  <section class="hero-section">
    <ul class="hero-list">
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-first1x.jpg"
          alt="user1"
          width="44"
          height="44"
        />
      </li>
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-second1x.jpg"
          alt="user2"
          width="44"
          height="44"
        />
      </li>
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-third1x.jpg"
          alt="user3"
          width="44"
          height="44"
        />
      </li>
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-fourth1x.jpg"
          alt="user4"
          width="44"
          height="44"
        />
      </li>
    </ul>
    <h1>Organic <span>vegetables</span>to your diet today!</h1>
    <p>
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button>shop now</button>
    <img src="/img/hero/hero-girl1x.png" alt="girl" width="278" height="228" />
    <ul>
      <li><a href="">#organic</a></li>
      <li><a href="">#products</a></li>
      <li><a href="">#basket</a></li>
      <li><a href="">#vegetables</a></li>
    </ul>
  </section>
</main>
