<section class="hero-section">
  <div class="container hero-div">
    <ul class="hero-list">
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-first1x.png"
          alt="user1"
          width="40"
          height="40"
        />
      </li>
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-second1x.png"
          alt="user2"
          width="40"
          height="40"
        />
      </li>
      <li class="hero-item">
        <img
          class="hero-list-img"
          src="/img/hero/user-trird1x.png"
          alt="user3"
          width="40"
          height="40"
        />
      </li>
      <li class="hero-item">
        <p class="hero-reviews"><span>2k</span> reviews</p>
      </li>
    </ul>
    <h1 class="hero-title">
      Organic <span>vegetables </span>to your diet today!
    </h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button class="hero-btn" data-modal-open>shop now</button>
    <div class="hero-img-div">
      <picture>
        <source
          srcset="
            /img/hero/hero-girl-laptop1x.png 1x,
            /img/hero/hero-girl-laptop2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/hero/hero-girl-tablet1x.png 1x,
            /img/hero/hero-girl-tablet2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="/img/hero/hero-girl1x.png 1x, /img/hero/hero-girl2x.png 2x"
          media="(min-width: 428px)"
        />
        <img
          class="hero-img-main"
          src="/img/hero/hero-girl1x.png"
          alt="girl"
          width="230"
          height="228"
        />
      </picture>
    </div>
    <ul class="hero-btn-list">
      <li class="hero-btn-list-item">
        <button type="button" class="hero-btn-list-btn">#organic</button>
      </li>
      <li class="hero-btn-list-item">
        <button type="button" class="hero-btn-list-btn">#products</button>
      </li>
      <li class="hero-btn-list-item">
        <button type="button" class="hero-btn-list-btn">#basket</button>
      </li>
      <li class="hero-btn-list-item">
        <button type="button" class="hero-btn-list-btn">#vegetables</button>
      </li>
    </ul>
  </div>
</section>
