<section class="container section-works">
  <div class="works-order">
      <h2 class="works-title">TO ORDER YOUR VEGETABLE BASKET, SIMPLY FOLLOW THESE EASY STEPS</h2>
      <ul class="works-oport list">
          <li class="works-item">
              <img
              srcset="./img/works/img-mob-vegetables.png, ./img/works/img-mob-vegetables2x.png"
              src="./img/works/img-mob-vegetables.png"
              alt="Vegetable basket"
              width="335"
          />
          </li>
          <li>
            <p>Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
          </li>
          <li>
            <p>Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
          </li>
      </ul>
  </div>
  <div class="works-step">
    <h3 class="works-subtitle">3 EASY STEPS FOR BUYING FRESH VEGETABLES</h3>
    <ol class="works-step-title">
      <li class="works-item-steps">
        <p>Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
      </li>
      <li>
      <p>Click on the basket and fill out the form.</p>
      </li>
      <li>
        <p>Sit back and relax! Your fresh vegetables basket will be delivered.</p>
      </li>
     </ol>
     <img
          srcset="./images/img-mob-girl.png, ./images/img-mob-girl2x.png"
          src="./images/img-mob-girl.png"
          alt="Vegetable basket"
          width="258"
          class="girl-works"
        />
  </div>
  
</section>