<section class="container-works container" id="section-works">
  <div class="easy-steps"> 
    <div class="h-img"> 
      <h2 class="easy-step-text"> 
        To order your vegetable basket, simply follow these easy steps 
      </h2> 
      <picture class="easy-step-img"> 
        <source 
          srcset=" 
            /img/works/img-desc-vegetables.png   1x, 
            /img/works/img-desc-vegetables2x.png 2x 
          " 
          media="(min-width: 1280px)" 
        /> 
        <source 
          srcset=" 
            /img/works/img-tab-vegetables.png   1x, 
            /img/works/img-mob-vegetables2x.png 2x 
          " 
          media="(min-width: 768px)" 
        /> 
        <source 
          srcset=" 
            /img/works/img-mob-vegetables.png   1x, 
            /img/works/img-mob-vegetables2x.png 2x 
          " 
          media="(min-width: 375px)" 
        /> 
        <img 
          src="/img/works/img-mob-vegetables.png" 
          alt="brokoli" 
        /> 
      </picture> 
    </div> 
    <div class="text"> 
      <p class="easy-subtext"> 
        Our baskets are assembled with care and delivered straight to your 
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving 
        your home. 
      </p> 
      <p class="easy-ssubtext"> 
        Whether you're looking for a healthy snack or a thoughtful gift, our fruit 
        baskets are the perfect choice. 
      </p> 
    </div> 
  </div>
  <div class="works-step">
    <div class="wors-substep">
      <h3 class="works-subtitle">3 easy steps for buying fresh vegetables</h3>
      <ol class="works-step-title">
        <li class="works-item-steps">
          <div class="step-number">1</div>
            <p class="works-text">Just choose the vegetable you want to order by 
            clicking on the checkboxes next to it.
            </p>
        </li>
        <li class="works-item-steps">
          <div class="step-number">2</div>
            <p class="works-text works-subtext">Click on the basket and fill out the form.
            </p>
        </li>
        <li class="works-item-steps">
          <div class="step-number">3</div>
            <p class="works-text">Sit back and relax! Your fresh vegetables basket 
            will be delivered.
            </p>
        </li>
      </ol>
    </div>
    <div class="picture-girl">    
      <picture>
        <source srcset="/img/works/img-dasc-girl.png 1x, /img/works/img-dasc-girl2x.png 2x" media="(min-width: 1280px)"/>
        <source srcset="/img/works/img-tab-girl.png 1x, /img/works/img-tab-girl2x.png 2x" media="(min-width: 768px)"/>
        <source srcset="/img/works/img-mob-girl.png 1x, /img/works/img-mob-girl2x.png 2x"  media="(max-width: 767px)"/>
        <img 
          src="./img/works/img-mob-girl.png"
          alt="Steps for buying"
          class="girl-works"
        />
      </picture>
    </div>
  </div>
</section>