<section class="hero-works">
    <div class="works-container">
      <h2>To order your vegetable basket, simply follow these easy steps</h2>
          <img
            srcset=".src/img/works/img-desc-vegetables.png, ./src/img/works/img-desc-vegetables2x.png"
            src="./src/img/works/img-desc-vegetables.png"
            alt="Vegetable basket"
            width="335"
          />
            <p>Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
            <p>Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
    </div>
    <div>
      <h3>3 Easy Steps for Buying Fresh Vegetables</h3>
      <ol>
        <li>
          <p>Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
        </li>
        <p>Click on the basket and fill out the form.</p>
        <li>
          <p>Sit back and relax! Your fresh vegetables basket will be delivered.</p>
        </li>
       </ol>
          </div>
  </section>іі