<section id="organic-vegetables">
    <h1>ORGANIC VEGETABLES</h1>
    <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get
    the freshest and most nutritious produce possible.</p>
    <div class="vegetables-list-container">
        <ul class="vegetables-list">
            <li class="vegetables">
                <h2 class="name-vegetables">Carrot</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/carrot.jpg 1x, /img/vegetables/carrot@2.jpg 2x" 
                src="/img/vegetables/carrot.jpg" 
                alt="Carrot" 
                width="292"
                height="223" />
                <p class="price">100 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Brussel sprouts</h2>
                <p class="plant">Plant</p>
                <img class=""
                srcset="/img/vegetables/brussel.jpg 1x, /img/vegetables/brussel@2.jpg 2x"
                src="/img/vegetables/brussel.jpg" 
                alt="Brussel sprouts" 
                width="230"
                height="230"/>
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Tomato</h2>
                <p class="plant">Plant/p>
                <img class="" 
                srcset="/img/vegetables/tomato.jpg 1x, /img/vegetables/tomato@2.jpg 2x" 
                src="/img/vegetables/tomato.jpg" 
                alt="Tomato" 
                width="278"
                height="176" />
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Eggplant</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/eggplant.jpg 1x, /img/vegetables/eggplant@2.jpg 2x" 
                src="/img/vegetables/eggplant.jpg" 
                alt="Eggplant" 
                width="194"
                height="193" />
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Sweet potatoes</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/potatoes.jpg 1x, /img/vegetables/potatoes@2.jpg 2x" 
                src="/img/vegetables/potatoes.jpg" 
                alt="Sweet potatoes" 
                width="294"
                height="189" />
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Leek</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/leek.jpg 1x, /img/vegetables/leek@2.jpg 2x" 
                src="/img/vegetables/leek.jpg" 
                alt="Leek" 
                width="284"
                height="198" />
                <p class="price">50 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Mushrooms</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/mushrooms.jpg 1x, /img/vegetables/mushrooms@2.jpg 2x" 
                src="/img/vegetables/mushrooms.jpg" 
                alt="Mushrooms" 
                width="325"
                height="183" />
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Corn</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/corn.jpg 1x, /img/vegetables/corn@2.jpg 2x" 
                src="/img/vegetables/corn.jpg" 
                alt="Corn" 
                width="265"
                height="203" />
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Radish</h2>
                <p class="plant">Plant</p>
                <img class="" 
                srcset="/img/vegetables/radish.jpg 1x, /img/vegetables/radish@2.jpg 2x" 
                src="/img/vegetables/radish.jpg" 
                alt="Radish" 
                width="316"
                height="181" />
                <p class="price">90 UAH / kg</p>
            </li>
        </ul>
    </div>
    <button type="submit" class="vegetables-order">ORDER</button>
</section>