<section>
    <h1>ORGANIC VEGETABLES</h1>
    <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get
    the freshest and most nutritious produce possible.</p>
    <div class="vegetables-list-container">
        <ul class="vegetables-list">
            <li class="vegetables">
                <h2 class="name-vegetables">Carrot</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">100 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Brussel sprouts</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Tomato</h2>
                <p class="plant">Plant/p>
                <img class="pic-vegetables">
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Eggplant</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Sweet potatoes</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Leek</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">50 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Mushrooms</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Corn</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Radish</h2>
                <p class="plant">Plant</p>
                <img class="pic-vegetables">
                <p class="price">90 UAH / kg</p>
            </li>
        </ul>
    </div>
    <button type="button" class="vegetables-order"></button>
</section>