<section class="sec-vegetables" id="organic-vegetables">
<div class="container cont-vege">
    <h1 class="title-vegetables">ORGANIC VEGETABLES</h1>
    <p class="subtext-vegetables">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get
    the freshest and most nutritious produce possible.</p>
    <div class="vegetables-list-container">
        <ul class="vegetables-list">
            <li class="vegetables">
                <h2 class="name-vegetables">Carrot</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                    <div class="scale"><picture>
                        <source srcset="/img/vegetables/carrottab.png 1x, /img/vegetables/carrottab@2.png 2x" media="(min-width: 1280px)" />
                        <source srcset="/img/vegetables/carrottab.png 1x, /img/vegetables/carrottab@2.png 2x" media="(min-width: 768px)" />
                        <source srcset="/img/vegetables/carrot.png 1x, /img/vegetables/carrot@2.png 2x" media="(min-width: 375px)" />
                    </picture>
                <img class="img-vege scale" 
                src="/img/vegetables/carrot.png" 
                alt="Carrot" 
                width="292"
                height="223" />
                </div>
            </div>
                <p class="price">100 UAH / kg</p>

            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Brussel sprouts</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                <div class="scale"><picture>
                    <source srcset="/img/vegetables/brusseltab.png 1x, /img/vegetables/brusseltab@2.png 2x" media="(min-width: 1280px)" />
                    <source srcset="/img/vegetables/brusseltab.png 1x, /img/vegetables/brusseltab@2.png 2x" media="(min-width: 768px)" />
                    <source srcset="/img/vegetables/brussel.png 1x, /img/vegetables/brussel@2.png 2x" media="(min-width: 375px)" />
                </picture>
                <img class="img-vege scale"
                src="/img/vegetables/brussel.png"   
                alt="Brussel sprouts" 
                width="230"
                height="230"/>
                </div>
                </div>
                <p class="price">80 UAH / kg</p>
            </li>

            <li class="vegetables">
                <h2 class="name-vegetables">Tomato</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                <div class="scale"><picture>
                    <source srcset="/img/vegetables/tomatotab.png 1x, /img/vegetables/tomatotab@2.png 2x" media="(min-width: 1280px)" />
                    <source srcset="/img/vegetables/tomatotab.png 1x, /img/vegetables/tomatotab@2.png 2x" media="(min-width: 768px)" />
                    <source srcset="/img/vegetables/tomato.png 1x, /img/vegetables/tomato@2.png 2x" media="(min-width: 375px)" /></picture>
                <img class="img-vege scale"
                src="/img/vegetables/tomato.png" 
                alt="Tomato" 
                width="278"
                height="176" />
                </div>
                </div>
                <p class="price">40 UAH / kg</p>
            </li>

            <li class="vegetables">
                <h2 class="name-vegetables">Eggplant</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                <div class="scale"><picture>
                    <source srcset="/img/vegetables/eggplanttab.png 1x, /img/vegetables/eggplanttab@2.png 2x" media="(min-width: 1280px)" />
                    <source srcset="/img/vegetables/eggplanttab.png 1x, /img/vegetables/eggplanttab@2.png 2x" media="(min-width: 768px)" />
                    <source srcset="/img/vegetables/eggplant.png 1x, /img/vegetables/eggplant@2.png 2x" media="(min-width: 375px)" />
                </picture>
                <img class="img-vege scale"
                src="/img/vegetables/eggplant.png" 
                alt="Eggplant" 
                width="194"
                height="193" />
                </div>
                </div>
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Sweet potatoes</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                    <div class="scale"><picture>
                        <source srcset="/img/vegetables/potatoestab.png 1x, /img/vegetables/potatoestab@2.png 2x" media="(min-width: 1280px)" />
                        <source srcset="/img/vegetables/potatoestab.png 1x, /img/vegetables/potatoestab@2.png 2x" media="(min-width: 768px)" />
                        <source srcset="/img/vegetables/potatoes.png 1x, /img/vegetables/potatoes@2.png 2x" media="(min-width: 375px)" />
                    </picture>
                <img class="img-vege scale"
                src="/img/vegetables/potatoes.png" 
                alt="Sweet potatoes" 
                width="294"
                height="189" />
                    </div>
                </div>
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Leek</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                <div class="scale"><picture>
                    <source srcset="/img/vegetables/leektab.png 1x, /img/vegetables/leektab@2.png 2x" media="(min-width: 1280px)" />
                    <source srcset="/img/vegetables/leektab.png 1x, /img/vegetables/leektab@2.png 2x" media="(min-width: 768px)" />
                    <source srcset="/img/vegetables/leek.png 1x, /img/vegetables/leek@2.png 2x" media="(min-width: 375px)" />
                </picture>
                <img class="img-vege scale"
                src="/img/vegetables/leek.png" 
                alt="Leek" 
                width="284"
                height="198" />
                </div>
                </div>
                <p class="price">50 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Mushrooms</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                <div class="scale"><picture>
                    <source srcset="/img/vegetables/mushroomstab.png 1x, /img/vegetables/mushroomstab@2.png 2x" media="(min-width: 1280px)" />
                    <source srcset="/img/vegetables/mushroomstab.png 1x, /img/vegetables/mushroomstab@2.png 2x" media="(min-width: 768px)" />
                    <source srcset="/img/vegetables/mushrooms.png 1x, /img/vegetables/mushrooms@2.png 2x" media="(min-width: 375px)" />
                </picture>
                <img  class="img-vege scale"
                src="/img/vegetables/mushrooms.png" 
                alt="Mushrooms" 
                width="325"
                height="183" />
                </div>
                </div>
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="vegetables">
                <h2 class="name-vegetables">Corn</h2>
                <p class="plant">Plant</p>
                <div class="image-shadow">
                <div class="scale"><picture>
                    <source srcset="/img/vegetables/corntab.png 1x, /img/vegetables/corntab@2.png 2x" media="(min-width: 1280px)" />
                    <source srcset="/img/vegetables/corntab.png 1x, /img/vegetables/corntab@2.png 2x" media="(min-width: 768px)" />
                    <source srcset="/img/vegetables/corn.png 1x, /img/vegetables/corn@2.png 2x" media="(min-width: 375px)" />
                </picture>
                <img class="img-vege scale"
                src="/img/vegetables/corn.png" 
                alt="Corn" 
                width="265"
                height="203" />
                </div>
                </div>
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="vegetables hiden">
                <h2 class="name-vegetables">Radish</h2>
                <p class="plant">Plant</p>
                
                <div class="image-shadow">
                    <div class="scale"><picture>
                        <source srcset="/img/vegetables/radish.png 1x, /img/vegetables/radish@2.png 2x" media="(min-width: 1280px)" />
                    </picture><img class="img-vege scale"
                src="/img/vegetables/radish.png" 
                alt="Radish" 
                width="316"
                height="181" />
                </div>
                </div>
                <p class="price">90 UAH / kg</p>
            </li>
        </ul>
    </div>
    <button type="submit" class="vege-btn-order" data modal open>
        <svg class="" height="14" width="14">
            <use href="/img/sprite.svg#icon-vegan-order"></use>
        </svg>
        order
    </button>
</div>
</section>
