@font-face {
  font-family: 'DM Sans';
  src: url(/font/DMSans-Bold.woff), url(/font/DMSans-Bold.woff2);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url(/font/DMSans-Medium.woff), url(/font/DMSans-Medium.woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url(/font/DMSans-Regular.woff), url(/font/DMSans-Regular.woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-icons);
  background-color: var(--white-theme);
  font-weight: 400;
}
.container {
  min-width: 320px;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
