

.scale {
    display: inline-block;
    overflow: hidden;
}

.scale img {
    transition: 0.5s;
    display: block;
}

.scale img:hover {
    transform: scale(1.03);
}

.mobile-menu {
   transform: translateX(100%);
   transition: transform 250ms ease-in-out ;
}

.mob-menu-container .is-hiden {
    transform: translateX(-100%) ;
}






