.section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.recall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px 77px;
}

.recall-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recall-title {
  margin-bottom: 20px;
  max-width: 320px;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.recall-text {
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  max-width: 321px;
}

.recall-form {
  width: 260px;
  position: relative;
}

.recall-input {
  padding: 0 24px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  background: transparent;
  color: var(--text-icons);
  outline: none;
  transition: border-color var(--hover);
}

.recall-input:focus {
  border-color: var(--main-theme);
}
.recall-input:hover {
  border-color: var(--btn);
}

.recall-input::placeholder {
  color: #c1bdbd;
}

.recall-submit-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px 35px;
  height: 50px;
  width: 105px;
  border-radius: 100px;
  background: var(--btn);
  color: var(--white-theme);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  border: none;
  transition: background var(--hover);
}

.recall-submit-btn:is(:hover, :focus) {
  background: var(--main-theme);
}
.picture-positione {
  display: flex;
  background: var(--support-theme);
  background-image: radial-gradient(
    circle at 30px 20px,
    rgba(207, 207, 194, 0.69) 3px,
    transparent 0
  );
  background-size: 45px 39px;
  padding-top: 40px;
  padding-bottom: 0px;
  border-radius: 60px;
  position: relative;
}

.wrap-img {
  display: flex;
  justify-content: center;
}
/* .recall-input:hover {
  Новая картинка при наведении
  background-image: url(../img/works/img-dasc-girl.png);
  Другие свойства стиля
  ...
} */

@media screen and (min-width: 375px) {
  .recall-form {
    width: 335px;
  }

  .recall-input {
    padding-right: 115px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 173px;
  }

  .recall-container {
    row-gap: 80px;
  }

  .recall-title {
    margin: 0 auto 20px;
    max-width: 524px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.04em;
  }

  .recall-text {
    max-width: 499px;
    font-size: 18px;
    line-height: 1.33;
  }

  .recall-form {
    width: 350px;
  }

  .recall-input {
    padding-right: 105px;
  }
  .wrap-img {
    display: flex;
    justify-content: center;
  }
  .picture-positione {
    width: 704px;
    height: 463px;
    justify-content: center;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap-img {
    margin-top: unset;
  }

  .picture-positione {
    width: 525px;
    height: 536px;
    margin-top: unset;
  }

  .recall.section {
    padding-bottom: 124px;
  }
  .section {
    padding: 62px 0;
  }

  .recall-container {
    flex-direction: row;
    align-items: center;
    gap: 40px 77px;
  }

  .recall-content-wrap {
    align-items: baseline;
  }

  .recall-title {
    margin-bottom: 40px;
    max-width: 614px;
    text-align: start;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.04em;
  }

  .recall-text {
    margin-bottom: 80px;
    max-width: 523px;
    text-align: start;
  }
}
