.header-list {
  display: none;
}

.header {
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-svg {
  margin-right: 8px;
  fill: var(--green-icon);
}

.header-title {
  color: var(#141414);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.header-btn {
  background-color: inherit;
  border: none;
  width: 24px;
  height: 24px;
  right: 0;
  padding: 0;
}

.header-modal-open {
  fill: var(--green-icon);
}
.header-shop {
  display: none;
  padding: 0;
}

/* -------------TABLET----------- */
@media screen and (min-width: 768px) {
  .header {
    padding: 16px 32px;
    flex-wrap: nowrap;
    width: 100%;
  }

  .header-nav {
    display: flex;
    gap: 86px;
  }

  .header-list {
    display: unset;
    display: flex;
    gap: 14px;
  }

  .header-item {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
  }

  .header-shop {
    display: unset;
    border: none;
    background-color: inherit;
    margin-right: 0;
  }

  .header-btn {
    display: none;
  }

  .icon-shop {
    fill: var(--white-theme);
    stroke: var(--text-icons);
  }
}

/* ------------------------DESKTOP------------- */
@media screen and (min-width: 1280px) {
  .header {
    padding: 13px 32px;
  }

  .header-list {
    gap: 20px;
  }

  .header-nav {
    gap: 308px;
  }

  .icon-shop {
    width: 24px;
    height: 24px;
  }
}

/* -------Mobile menu-------- */
.mobile-menu {
  /* display: none; */
  max-width: 375px;
  height: 812px;
  background-color: var(--main-theme);
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: var(--white-theme);
}

.close-mobile-btn {
  border: none;
  background-color: inherit;
  padding: 0;
}

.close-mobile-svg {
  stroke: var(--green-icon);
}

.mobile-section {
  padding-top: 124px;
  display: flex;
  flex-direction: column;
}

.mobile-header-item {
  padding-bottom: 16px;
  color: var(--white-theme);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
}

.mobile-shop {
  border: none;
  background-color: inherit;
  padding: 0;
  display: block;
}

.mobile-cart {
  stroke: var(--white-theme);
  fill: var(--main-theme);
}
