/* 
  
  .container-works {
    padding-top: 80px;
  }

  .works-order {
    margin-bottom: 20px;
  }

.works-div {
padding-bottom: 80px;
}

  .works-title {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase; 
  
  }
  
  .works-oport {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
  }
  
  .works-paragraf-bacset {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
  }


  @media screen and (min-width: 768px) {
    .works-oport{
     gap: 8px;
    }

    .works-item {
      width: calc((100% - 8px) / 2);
    }
    
    .works-order {
      margin-bottom: 0;
    }

    .works-paragraf-bacset {
  flex-wrap: nowrap;
  }

    .works-subitem {
      
      width: calc((100% - 20px) / 2)
      
     
    }
  } */



  /* @media screen and (min-width: 375px) {
    .container {
      width: 375px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
    }
  } */

/** -----------------------------------------WORKS-DIV--------------------*/

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


.works-step  {
    background: #faf3e7;
    background-image: radial-gradient(
      circle at 30px 20px,
      rgba(161, 196, 135, 0.69) 3px,
      transparent 0
    );
    background-size: 62px 60px;
    border-radius: 40px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
  

.works-step-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.works-item-steps {
  display: flex;
  align-items: center;
  gap: 14px;
}

.works-subtitle {
  color: var(--text-icons);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.04em;
  }

.step-number {
  font-size: 18px;
  line-height: 1;
  border-radius: 200px;
  background: #A1C487;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 46px;
  height: 44px;
}

.works-text {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 194px;
  height: 54px;
  align-items: center;
}

.girl-works {
  margin-left: auto;
  margin-right: auto;
}



@media screen and (min-width: 768px) {
  .works-step {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 40px;
    padding-top: 80px;
    gap: 40px;
  }

  .works-substep {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: center;
  }

  .works-subtitle {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 274px;
    margin: 0;
  }
}


@media screen and (min-width: 1280px) {
  .works-step {
    width: 1216px;
    justify-content: center;
    gap: 110px;
  }

  .works-subtitle {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    width: 512px;
  }

  .works-text {
    width: 308px;
  }
}
