
  
  /* .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
  }
   */
 
  
  .section-works {
    padding: 80px 20px;
  }
  
  .works-title {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase; 
  margin-bottom: 20px;
  }
  
  .works-oport {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
  }
  .works-order {
    margin-bottom: 80px;
  }
  

.works-text {
max-width: 176px;
color: #141414;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.56px; 
}

  .works-step {
    border-radius: 40px;
    background: #FAF3E7; 
    height: 661px;
  }
  
  .works-subtitle {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  padding: 40px 20px; 
  
  }
  
  .works-step-title {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }

  .works-item-steps {
    width: 100%;

}

  
  .girl-works {
    margin-top: 20px;
    display: block;
    margin: 0 auto; 
    
  }
  
  .works-step-title {
  list-style-type: none;
  counter-reset: step-counter;
}


.works-step-title li {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}


.works-step-title li::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  height: 44px;
  margin-right: 14px;
  border-radius: 200px;
  background: #a1c487;
  color: #141414;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.72px;
}
