.container-works {
  padding-top: 40px;
  padding-bottom: 40px;
}

.easy-steps {
  padding-bottom: 80px;
}

.h-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.easy-step-text {
  color: var(--text-icons);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  max-width: 335px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.easy-subtext {
  color: var(--text-icons);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

.easy-ssubtext {
  color: var(--text-icons);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .easy-steps {
    padding-top: 100px;
  }

  .h-img {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .easy-step-text {
    width: 386px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
  }

  .text {
    flex-wrap: nowrap;
  }

  .easy-subtext {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    width: 317px;
  }

  .easy-ssubtext {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    width: 279px;
  }
}

@media screen and (min-width: 1280px) {
  .easy-steps {
    padding-top: 124px;
  }

  .h-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .easy-step-text {
    width: 614px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.04;
    letter-spacing: -0.04em;
  }

  .text {
    gap: 40px;
  }

  .easy-subtext {
    width: 353px;
  }

  .easy-ssubtext {
    width: 294px;
  }
}

/**------------------------------------------------------------------DIV2------------------------------------------------*/

.works-step {
  background: #faf3e7;
  background-image: radial-gradient(
    circle at 15px 20px,
    rgba(161, 196, 135, 0.35) 3px,
    transparent 0
  );
  background-size: 62px 60px;
  border-radius: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.works-step-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  padding: 0;
  list-style: none;
}

.works-item-steps {
  display: flex;
  align-items: center;
  gap: 14px;
}

.works-subtitle {
  color: var(--text-icons);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.step-number {
  font-size: 18px;
  line-height: 1;
  border-radius: 200px;
  background: var(--main-theme);
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 46px;
  height: 44px;
}

.works-text {
  font-size: 14px;
  line-height: 1.3;
  width: 194px;
  height: 54px;
  align-items: center;
}

.girl-works {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .works-div {
    padding-bottom: 50px;
  }
  .works-step {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 40px;
    padding-top: 80px;
    gap: 40px;
  }

  .works-substep {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: center;
  }

  .works-subtitle {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    width: 274px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .works-div {
    padding-bottom: 62px;
  }
  .works-step {
    width: 1216px;
    justify-content: center;
    gap: 110px;
  }

  .works-subtitle {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    width: 512px;
  }

  .works-text {
    width: 308px;
  }

  .works-subtext {
    width: 166px;
  }
}
