.sec-vegetables {
  padding-top: 40px;
  padding-bottom: 40px;
}
.cont-vege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-vegetables {
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.subtext-vegetables {
  width: 100%;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.vegetables-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.vegetables {
  padding: 40px 20px 20px 20px;
  height: 443px;
  width: 100%;
  background-color: var(--light-theme);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-vegetables {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

.plant {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.price {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

.image-shadow {
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-shadow::before {
  content: '';
  position: absolute;
  border-radius: 100px/20px;
  bottom: 40px;
  transform: translateY(50%);
  width: 195px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
  filter: blur(13.591408729553223px);
}

.img-vege {
  z-index: 3;
  position: sticky;
}

.icon-btn-order {
  transform: rotate(14deg);
}

/* !!------------ORIGINAL-BUTTON------------!! */
/* .vege-btn-order {
border: none;
height: 80px;
width: 80px;
border-radius: 50%;
background-color: var(--btn);
transform: rotate(-14deg);
color: var(--white-theme);
fill: var(--white-theme);
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-weight: 500;
line-height: 1.28;
letter-spacing: -0.04em;
display: block;
margin-top: 20px;
text-align: center;
cursor: pointer;
text-transform: uppercase;
}

.vege-btn-order:active,
.vege-btn-order:hover,
.vege-btn-order:focus {
background: #77ac63;} */

/*!------------ANIMATION-BUTTON------------!*/
.vege-btn-order {
  border: none;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: var(--btn);
  transform: rotate(-14deg);
  color: var(--white-theme);
  fill: var(--white-theme);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.04em;
  display: block;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color var(--hover);
}

.vege-btn-order:before {
  content: '';
  background: linear-gradient(
    45deg,
    #fc8a11,
    #ffb266,
    #77ac63,
    #a1c487,
    #faf3e7,
    #ffe1d4
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.vege-btn-order:active {
  color: var(--white-theme);
  fill: var(--white-theme);
}

.vege-btn-order:active:after,
.vege-btn-order:hover:after,
.vege-btn-order:focus:after {
  background: #77ac63;
}

.vege-btn-order:hover:before {
  opacity: 1;
}

.vege-btn-order:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--btn);
  left: 0;
  top: 0;
  border-radius: 50%;
  transition: background-color var(--hover);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* !-------------------------------------------------------------------------------------! */

.hiden {
  display: none;
}

@media screen and (min-width: 375px) {
  .vegetables {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .sec-vegetables {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .subtext-vegetables {
    max-width: 562px;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
  }

  .vegetables {
    width: calc((100% - 20px) / 2);
  }

  .vege-btn-order {
    height: 114px;
    width: 114px;
    margin-top: 40px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .sec-vegetables {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .vegetables {
    width: calc((100% - 48px) / 3);
  }

  .hiden {
    display: block;
    display: flex;
    justify-content: space-around;
  }

  .vege-btn-order {
    height: 114px;
    width: 114px;
    margin-top: 40px;
    font-size: 18px;
  }
}
